extends: default
# syntex check 
rules:
  braces:
    min-spaces-inside: 1
    max-spaces-inside: 1
    min-spaces-inside-empty: 0
    max-spaces-inside-empty: 0
  commas:
    max-spaces-before: 0
    min-spaces-after: 1
    max-spaces-after: -1
  comments:
    min-spaces-from-content: 1
  document-start:
    present: false
  document-end:
    present: false
  line-length: disable
