{
    "$schema": "https://artifactory.boschdevcloud.com/artifactory/lab000142-tcc-tools-local/userConfigSchema_1.0.json",
    "ARTIFACTORY_URL": "https://artifactory.boschdevcloud.com/artifactory",
    "ARTIFACTORY_NAME": "lab000142-tcc-tools-local",
    "ARTIFACTORY_API_KEY": "{{ tcc_artifactory_api_key }}",
    "TCC_TOOL_SOURCES": [
        "ARTIFACTORY"
    ],
    "TCC_TOOLCOLLECTION_SOURCES": [
        "ARTIFACTORY"
    ],
    "TCC_UPDATER_SOURCES": [
        "ARTIFACTORY"
    ]
}
