{
    "$schema": "https://rb-artifactory.bosch.com/artifactory/list/tcc-tools-local/userConfigSchema_1.0.json",
    "ARTIFACTORY_URL": "https://rb-artifactory.bosch.com/artifactory",
    "ARTIFACTORY_NAME": "tcc-tools-local",
    "ARTIFACTORY_API_KEY": "{{ tcc_artifactory_api_key }}",
    "TCC_TOOL_SOURCES": [
        "ARTIFACTORY",
        "ABT_ISM"
    ],
    "TCC_TOOLCOLLECTION_SOURCES": [
        "ARTIFACTORY",
        "ABT_ISM"
    ],
    "TCC_UPDATER_SOURCES": [
        "ARTIFACTORY",
        "ABT_ISM"
    ]
}
